html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input {
  margin-top: -1px;
}

.form-control {
	border-radius: 0%;
}

form input:first {
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}